---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103GCe2MabSztOHhJOhu4FAy&plan=base&email=bob%40example.com
    headers:
      Authorization:
      - Bearer sk_test_Giv3eRvNxvyBTaMoZNNFTaDD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1389025743,
          "id": "cus_3GCedyjp8KU4Aq",
          "livemode": false,
          "description": null,
          "email": "bob@example.com",
          "delinquent": false,
          "metadata": {},
          "subscription": {
            "id": "sub_3GCed2Cd5XQKTN",
            "plan": {
              "interval": "month",
              "name": "The base plan",
              "amount": 999,
              "currency": "usd",
              "id": "base",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {}
            },
            "object": "subscription",
            "start": 1389025743,
            "status": "active",
            "customer": "cus_3GCedyjp8KU4Aq",
            "cancel_at_period_end": false,
            "current_period_start": 1389025743,
            "current_period_end": 1391704143,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3GCedyjp8KU4Aq/cards",
            "data": [
              {
                "id": "card_103GCe2MabSztOHhXY3rmlmh",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 1,
                "exp_year": 2016,
                "fingerprint": "nqcMZg1tfKVnv6vO",
                "customer": "cus_3GCedyjp8KU4Aq",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103GCe2MabSztOHhXY3rmlmh"
        }
  recorded_at: Mon, 06 Jan 2014 16:29:03 GMT
recorded_with: VCR 2.8.0
