---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103GvK2MabSztOHhSYhuvSyF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Giv3eRvNxvyBTaMoZNNFTaDD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103GvK2MabSztOHhSYhuvSyF",
          "created": 1389191925,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103GvK2MabSztOHhpJr7mduD",
              "object": "charge",
              "created": 1389191925,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103GvK2MabSztOHhWhwLB1Px",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 1,
                "exp_year": 2016,
                "fingerprint": "nqcMZg1tfKVnv6vO",
                "customer": "cus_3GvKuScPlMLe6O",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103GvK2MabSztOHhr2UyJU8t",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3GvKuScPlMLe6O",
              "invoice": "in_103GvK2MabSztOHhnrceR3VM",
              "description": null,
              "dispute": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3GvKcTmiTkMfuU"
        }
  recorded_at: Fri, 10 Jan 2014 06:54:11 GMT
recorded_with: VCR 2.8.0
