---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2014&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Giv3eRvNxvyBTaMoZNNFTaDD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103DxO2MabSztOHh6BPX03Vq",
          "livemode": false,
          "created": 1388507663,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103DxO2MabSztOHhjYhNkxDz",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2014,
            "fingerprint": "nqcMZg1tfKVnv6vO",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Tue, 31 Dec 2013 16:34:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103DxO2MabSztOHh6BPX03Vq&description=A%20valid%20charge%20for%20test%40example.com
    headers:
      Authorization:
      - Bearer sk_test_Giv3eRvNxvyBTaMoZNNFTaDD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103DxO2MabSztOHhroVyItu2",
          "object": "charge",
          "created": 1388507664,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103DxO2MabSztOHhjYhNkxDz",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2014,
            "fingerprint": "nqcMZg1tfKVnv6vO",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103DxO2MabSztOHhe0SjH90A",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "A valid charge for test@example.com",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Tue, 31 Dec 2013 16:34:24 GMT
recorded_with: VCR 2.8.0
