---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Giv3eRvNxvyBTaMoZNNFTaDD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103GBv2MabSztOHh4gOc3adk",
          "livemode": false,
          "created": 1389023050,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103GBv2MabSztOHhzDvg7bV4",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "Zp89niVEhNjObAlF",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 06 Jan 2014 15:44:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103GBv2MabSztOHh4gOc3adk&description=An%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_Giv3eRvNxvyBTaMoZNNFTaDD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103GBv2MabSztOHhMgFUQM68"
          }
        }
  recorded_at: Mon, 06 Jan 2014 15:44:11 GMT
recorded_with: VCR 2.8.0
