---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103HiG2MabSztOHhz6MP5Y8B
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Giv3eRvNxvyBTaMoZNNFTaDD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103HiG2MabSztOHhz6MP5Y8B",
          "created": 1389373959,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103HiG2MabSztOHhpgzBXLys",
              "object": "charge",
              "created": 1389373959,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103HiE2MabSztOHh1XsrTEJZ",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2016,
                "fingerprint": "gz4YpFpfFs5O5vwa",
                "customer": "cus_3GvKuScPlMLe6O",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3GvKuScPlMLe6O",
              "invoice": null,
              "description": "payment with declined card",
              "dispute": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_3HiGxqd4W9V1u0"
        }
  recorded_at: Fri, 10 Jan 2014 17:56:35 GMT
recorded_with: VCR 2.8.0
