---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Giv3eRvNxvyBTaMoZNNFTaDD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103GBv2MabSztOHheeuv8eMJ",
          "livemode": false,
          "created": 1389023042,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103GBv2MabSztOHh2sXS2X9W",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "nqcMZg1tfKVnv6vO",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 06 Jan 2014 15:44:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103GBv2MabSztOHheeuv8eMJ&plan=base&email=aubrey.reynolds%40volkman.org
    headers:
      Authorization:
      - Bearer sk_test_Giv3eRvNxvyBTaMoZNNFTaDD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1389023043,
          "id": "cus_3GBvB5RBDBxLGw",
          "livemode": false,
          "description": null,
          "email": "aubrey.reynolds@volkman.org",
          "delinquent": false,
          "metadata": {},
          "subscription": {
            "id": "sub_3GBvgcKZ72NGpV",
            "plan": {
              "interval": "month",
              "name": "The base plan",
              "amount": 999,
              "currency": "usd",
              "id": "base",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {}
            },
            "object": "subscription",
            "start": 1389023043,
            "status": "active",
            "customer": "cus_3GBvB5RBDBxLGw",
            "cancel_at_period_end": false,
            "current_period_start": 1389023043,
            "current_period_end": 1391701443,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3GBvB5RBDBxLGw/cards",
            "data": [
              {
                "id": "card_103GBv2MabSztOHh2sXS2X9W",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 12,
                "exp_year": 2016,
                "fingerprint": "nqcMZg1tfKVnv6vO",
                "customer": "cus_3GBvB5RBDBxLGw",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103GBv2MabSztOHh2sXS2X9W"
        }
  recorded_at: Mon, 06 Jan 2014 15:44:04 GMT
recorded_with: VCR 2.8.0
