!!! 5
%html
  %body
    %p Hi! #{@invitation.recipient_name}, you are invited by #{@invitation.inviter.full_name} to join Myflix!
    %p= @invitation.message
    %p= link_to 'Accept this invitation', register_with_token_url(@invitation.token)